body {
    background: url(../images/background.jpeg);

    /* background-color: rgb(255, 0, 0); */
    height: 100%;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
#wrapper {
    min-height: 100%;
}

input[type="checkbox"]{
    transform: scale(2);
    margin-right: 11px;
    margin-top: 20px;
    margin-left: 30%;
}

.scroll{
    margin-top: -50px;
    font-size: 20px;
    color: rgb(57, 168, 183);
    overflow-y: scroll;
    height: 500px;
    width: 1200px;
}

.sub{
    margin-top: 50px;
    margin-left: 46%;
    text-align: center;
    padding: 10px 30px;
    background-color: blueviolet;
    font-size: 20px;
    border: none;
    border-radius: 6px;
}

.selfform > label {
    display: inline-block;
    width: 140px;
    margin-left: 40%;
    text-align: left;
}​

.sub:hover{
    background-color: rgb(154, 77, 225);
}

.animate{
    text-align: center;
    margin-top: 0px;
    font-size: 9.5vw;
    line-height: 11vw;
    margin-left: 5px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(/static/images/logos/back.png);
    -webkit-background-clip: text;
    background-position: 0 -40px;
    animation: back 10s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

@keyframes back{
    100%{
      background-position: 2000px -40px;
    }
  }