<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
        <title>File Compressor</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Oswald:wght@300;400;500;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/styles.css">
        <script src="../static/js/script.js"></script>
        <!--[if lte IE 6]>
        <style type="text/css">
            #container {
                height: 100%;
            }
        </style>
        <![endif]-->
    </head>

    <body></body>
        <!-- <div style="color: white; text-align:center;" id="wrapper"> -->
            
            <form action="/" method="post">
                <!-- <input type="text" id="q1"> -->
                    <input type="checkbox" name="q1">
                    <label for="q1">I enjoy reading books.</label><br>
                    <input type="checkbox" name="q2">
                    <label for="q2">I have always liked math and science classes best and I do well in them.</label><br>
                    <input type="checkbox" name="q3">
                    <label for="q3">I enjoy drawing, painting and doodling.</label><br>
                    <input type="checkbox" name="q4">
                    <label for="q4">I love being outdoors and enjoy spending my free time outside.</label><br>
                    <input type="checkbox" name="q5">
                    <label for="q5">I have a pleasant singing voice and I like to sing.</label><br>
                    <input type="checkbox" name="q6">
                    <label for="q6">I’m the kind of person others come to for advice.</label><br>
                    <input type="checkbox" name="q7">
                    <label for="q7">I have some important goals for my life that I think about often.</label><br>
                    <input type="checkbox" name="q8">
                    <label for="q8">I love animals and I spend a lot of time with them.</label><br>

                    <input type="checkbox" name="q9">
                    <label for="q9">I like English, social studies and history better than math and science.</label><br>
                    <input type="checkbox" name="q10">
                    <label for="q10">I try to look for patterns and regularities in things, such as every third stair on the staircase has a notch in it.</label><br>
                    <input type="checkbox" name="q11">
                    <label for="q11">I like to figure out how to take apart and put back together things like toys and puzzles.
                    </label><br>
                    <input type="checkbox" name="q12">
                    <label for="q12">I am an active person and if I can’t move around I get bored.</label><br>
                    <input type="checkbox" name="q13">
                    <label for="q13">I frequently listen to music because I enjoy it so much.</label><br>
                    <input type="checkbox" name="q14">
                    <label for="q14">I like going to parties and social events.</label><br>
                    <input type="checkbox" name="q15">
                    <label for="q15">I think I am a very independent person.</label><br>
                    <input type="checkbox" name="q16">
                    <label for="q16">I enjoy watching nature shows on television like the Discovery
                        Channel, National Geographic and Nova.</label><br>

                    <input type="checkbox" name="q17">
                    <label for="q17">I am good at using words to get others to change their mind.</label><br>
                    <input type="checkbox" name="q18">
                    <label for="q18">I enjoy playing around with a chemistry set and am interested in new discoveries in science.</label><br>
                    <input type="checkbox" name="q19">
                    <label for="q19">When I watch a movie or video, I am more interested in what I see than what I hear.</label><br>
                    <input type="checkbox" name="q20">
                    <label for="q20">I think I am well coordinated.
                    </label><br>
                    <input type="checkbox" name="q21">
                    <label for="q21">I can play a musical instrument.</label><br>
                    <input type="checkbox" name="q22">
                    <label for="q22">
                        I don’t like to argue with people.</label><br>
                    <input type="checkbox" name="q23">
                    <label for="q23">Sometimes I talk to myself.</label><br>
                    <input type="checkbox" name="q24">
                    <label for="q24">
                        It’s fun to watch birds or other animals, to watch their habits, and to learn more about them.</label><br>

                    <input type="checkbox" name="q25">
                    <label for="q25">I’m good at Scrabble and other word games.</label><br>
                    <input type="checkbox" name="q26">
                    <label for="q26">I believe that almost everything has a logical explanation.</label><br>
                    <input type="checkbox" name="q27">
                    <label for="q27">When I close my eyes, sometimes I can see clear images in my head that seem real.</label><br>
                    <input type="checkbox" name="q28">
                    <label for="q28">I have good skills in one or more sports and learn new sports quickly.
                    </label><br>
                    <input type="checkbox" name="q29">
                    <label for="q29">I can easily keep time to a piece of music.</label><br>
                    <input type="checkbox" name="q30">
                    <label for="q30">I enjoy getting other people to work together.</label><br>
                    <input type="checkbox" name="q31">
                    <label for="q31">I like to spend time alone thinking about things that are important to me.</label><br>
                    <input type="checkbox" name="q32">
                    <label for="q32">I’m very good at telling the difference between different kinds of birds, dogs, trees and stuff like that.</label><br>

                    <input type="checkbox" name="q33">
                    <label for="q33">I like to learn new words and know their meanings.</label><br>
                    <input type="checkbox" name="q34">
                    <label for="q34">I like to play games and solve brainteasers that require tactics and strategy.</label><br>
                    <input type="checkbox" name="q35">
                    <label for="q35">I am good at reading maps and finding my way around unfamiliar
                        places.</label><br>
                    <input type="checkbox" name="q36">
                    <label for="q36">I don’t like organized team sports as much as individual sports activities, such as tennis, swimming, skiing, golf or ballet.</label><br>
                    <input type="checkbox" name="q37">
                    <label for="q37">I know the tunes and titles of many songs and musical pieces.</label><br>
                    <input type="checkbox" name="q38">
                    <label for="q38">I consider myself a leader (and others call me that).</label><br>
                    <input type="checkbox" name="q39">
                    <label for="q39">I would rather spend a vacation in a cabin in the woods than at a fancy resort.</label><br>
                    <input type="checkbox" name="q40">
                    <label for="q40">I enjoy visiting zoos, natural history museums or other places where the world is studied.</label><br>

                    <input type="checkbox" name="q41">
                    <label for="q41">It’s easy for me to memorize things at school.</label><br>
                    <input type="checkbox" name="q42">
                    <label for="q42">It is fun for me to work with numbers and data.</label><br>
                    <input type="checkbox" name="q43">
                    <label for="q43">I like some colors better than others.</label><br>
                    <input type="checkbox" name="q44">
                    <label for="q44">I don’t mind getting my hands dirty from activities like painting, clay, or fixing and building things.</label><br>
                    <input type="checkbox" name="q45">
                    <label for="q45">
                        Sometimes I catch myself walking along with a television jingle or song in my mind.</label><br>
                    <input type="checkbox" name="q46">
                    <label for="q46">When I have a problem, I’ll probably ask a friend for help.</label><br>
                    <input type="checkbox" name="q47">
                    <label for="q47">I think I know what I am good at and what I’m not so good at doing.</label><br>
                    <input type="checkbox" name="q48">
                    <label for="q48">I like being outside whenever possible; I feel confident and comfortable there.</label><br>

                    <input type="checkbox" name="q49">
                    <label for="q49">I like to look things up in the dictionary or any encyclopedia.</label><br>
                    <input type="checkbox" name="q50">
                    <label for="q50">I like to ask people questions about how things work or why nature is the way it is.</label><br>
                    <input type="checkbox" name="q51">
                    <label for="q51">I sketch or draw when I think.</label><br>
                    <input type="checkbox" name="q52">
                    <label for="q52">Sometimes when I talk with people, I gesture with my hands.</label><br>
                    <input type="checkbox" name="q53">
                    <label for="q53">I like to make up my own tunes and melodies.</label><br>
                    <input type="checkbox" name="q54">
                    <label for="q54">I have at least three close friends.</label><br>
                    <input type="checkbox" name="q55">
                    <label for="q55">I have hobbies and interests that I prefer to do on my own.</label><br>
                    <input type="checkbox" name="q56">
                    <label for="q56">I like camping and hiking.</label><br>

                    <input type="checkbox" name="q57">
                    <label for="q57">I like to talk to friends and family better than watching TV.</label><br>
                    <input type="checkbox" name="q58">
                    <label for="q58">I have an easy time understanding new math concepts in school.</label><br>
                    <input type="checkbox" name="q59">
                    <label for="q59">I enjoy reading things more when they have lots of pictures and drawings.</label><br>
                    <input type="checkbox" name="q60">
                    <label for="q60">I would rather play a sport than watch it.</label><br>
                    <input type="checkbox" name="q61">
                    <label for="q61">Often I keep time to music by tapping to the beat or humming the tune when I am studying or talking on the phone.</label><br>
                    <input type="checkbox" name="q62">
                    <label for="q62">I am easy to get to know.</label><br>
                    <input type="checkbox" name="q63">
                    <label for="q63">I want to be self-employed or maybe start my own business.</label><br>
                    <input type="checkbox" name="q64">
                    <label for="q64">I want to become a volunteer in an ecological organization (such as Greenpeace or Sierra Club) to help save nature from further destruction.</label><br>

                    <input type="checkbox" name="q65">
                    <label for="q65">I like to write things like stories, poems and reports.</label><br>
                    <input type="checkbox" name="q66">
                    <label for="q66">I like things better when they are organized, categorized or measured.</label><br>
                    <input type="checkbox" name="q67">
                    <label for="q67">I am good at playing Pictionary, doing jigsaw puzzles, and solving mazes.</label><br>
                    <input type="checkbox" name="q68">
                    <label for="q68">I like to “ham it up” in skits, plays, speeches, sports or other types of activities.</label><br>
                    <input type="checkbox" name="q69">
                    <label for="q69">I can tell when notes are off-key.</label><br>
                    <input type="checkbox" name="q70">
                    <label for="q70">I feel comfortable most of the time, even in the midst of a crowd.</label><br>
                    <input type="checkbox" name="q71">
                    <label for="q71">I like to spend time by myself thinking about thing that I value.</label><br>
                    <input type="checkbox" name="q72">
                    <label for="q72">When I was younger I used to dislodge big rocks from the ground to discover the living things underneath.
                    </label><br>

                    <input type="checkbox" name="q73">
                    <label for="q73">I’m really good at describing things in words.</label><br>
                    <input type="checkbox" name="q74">
                    <label for="q74">I think I am good at working with numbers and data.</label><br>
                    <input type="checkbox" name="q75">
                    <label for="q75">I am better at remembering faces than names.</label><br>
                    <input type="checkbox" name="q76">
                    <label for="q76">I like working with my hands in activities such as sewing, carving, or model-building.</label><br>
                    <input type="checkbox" name="q77">
                    <label for="q77">I know what I like and don’t like in music.</label><br>
                    <input type="checkbox" name="q78">
                    <label for="q78">I am good at making new friends.</label><br>
                    <input type="checkbox" name="q79">
                    <label for="q79">I like to think about things before I take any action.</label><br>
                    <input type="checkbox" name="q80">
                    <label for="q80">I have a green thumb and I am really good at keeping plants alive and healthy.</label><br>
                    <button type="submit">Submit</button>
            </form>

        <!-- </div> -->
    </body>
</html>