<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
    <title>File Compressor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Oswald:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <script src="../static/js/script.js"></script>
    <!--[if lte IE 6]>
      <style type="text/css">
        #container {
          height: 100%;
        }
      </style>
    <![endif]-->
  </head>

  <body style="background-color: white">
    <div class="main">
      <h1 class="saf" style="text-align: center; margin-top:50px;">Self Assessment Form</h1>
      <form class="selfform" action="/self" method="post">
        <label style="margin-left: 25%" for="name">Name: </label>
        <input type="text" autofocus name="name" /><br />

        <label style="margin-left: 25%" for="date">Date:</label>
        <input
          type="date"
          name="date"
          value="2022-08-28"
          min="2022-08-28"
          max="2022-08-28"
        /><br />

        <label style="margin-left: 25%" for="class">Class: </label>
        <input type="number" name="class" min="7" /><br />

        <label style="margin-left: 25%" for="dob">Date of Birth:</label>
        <input type="date" name="dob" value="2022-08-28" /><br />

        <label style="margin-left: 25%" for="address">Address: </label>
        <input type="text" name="address" /><br />

        <label for="phone" style="margin-left: 25%">Phone: </label>
        <input type="tel" name="phone" /><br />

        <label for="dreamProfessions" style="margin-left: 25%"
          >Dream Professions:
        </label>
        <input type="text" name="dreamProfessions" /><br />

        <label for="interestedSubjects" style="margin-left: 25%"
          >Interested Subjects:
        </label>
        <input type="text" name="interestedSubjects" /><br />

        <label for="hobbies" style="margin-left: 25%"
          >Hobbies, Interests:
        </label>
        <input type="text" name="hobbies" /><br />

        <label for="additionalSkills" style="margin-left: 25%"
          >Additional Skills acquired:
        </label>
        <input type="text" name="additionalSkills" /><br />

        <label for="qualitiesLiked" style="margin-left: 25%"
          >Qualities liked:
        </label>
        <input type="text" name="qualitiesLiked" /><br />

        <label for="qualitiesAdmired" style="margin-left: 25%"
          >Qualities admired by others:
        </label>
        <input type="text" name="qualitiesAdmired" /><br />

        <label style="margin-left: 25%" for="marks">Marks: </label>
        <input type="number" name="marks" min="0" max="100" /><br />

        <label for="areas" style="margin-left: 25%"
          >Areas of improvement
        </label>
        <input type="text" name="areas" /><br />

        <button style="margin-left: 42%" type="submit" class="sub">
          Next
        </button>
      </form>
    </div>
  </body>
</html>